body {
    background: white;
    color: black;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: #dddddd;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 22px;
}

li:last-child {
    margin-right: 0;
}